.pasta{
    margin-bottom: 5%;
}
.navbar {
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.hamburger {
    display: none;
    font-size: 30px;
    color: rgb(187, 180, 180);
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.nav-links a:hover {
    text-decoration: underline;
}
.icon {
    margin-right: 5px;
}
.icon-right {
    margin-left: 5px;
}
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
        background-color: #333;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        display: none;
        z-index: 1;
    }
    .nav-links li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .nav-links.show {
        display: flex;
    }
}
.justificaciones {
    display: flex;
    flex-direction: column;
    background-color: #eaeaec;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 123, 255, 0.5);
    width: 95%;
    margin: 2px auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden; /* Asegura que el contenido no desborde el contenedor */
}
.justificaciones table {
    width: 100%; /* Asegura que la tabla se ajuste al ancho del contenedor */
    border-collapse: collapse; /* Opcional: elimina el espacio entre celdas */
}
.botones{
    width: 10%; /* Asegura que la tabla se ajuste al ancho del contenedor */
    border-collapse: collapse; /* Opcional: elimina el espacio entre celdas */
    align-items: center;
}
.justificaciones th, .justificaciones td {
    text-align: left;
    padding: 8px;
}
.titulos {
    display: flex; /* Utilizamos flexbox */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    width: 90%; /* Aseguramos que el div no ocupe más del 90% del ancho del contenedor padre */
    margin: 0 auto; /* Centrar el div horizontalmente */   
    box-sizing: border-box; /* Incluye el padding dentro del width */
    overflow: hidden; /* Evita que el contenido se salga del contenedor */
}
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .titulos {
        display: block; /* Cambia la disposición de flex a block para apilar los elementos */
        text-align: left; /* Alinea los textos a la izquierda */
    }
    .titulos p {
        margin-right: 0; /* Resetea los márgenes derechos de los párrafos */
        margin-bottom: 10px; /* Añade espacio entre los párrafos para que no queden pegados */
    }
}
table, th, td {
    margin-top: 5%;
    text-align: center;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0a0d24;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 2; /* Asegura que el sidebar esté por encima de las barras */
  }
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidebar a:hover {
    color: #f1f1f1;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;}
    .tab-menu {
        display: flex;
        border-bottom: 2px solid #000;
    }
    .tab-menu div {
        flex: 1;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }
    .tab-menu div:first-child {
        border-right: 2px solid #000;
    }
    .state-select div {
        padding: 10px;
        border-bottom: 1px solid #000;
        cursor: pointer;
        background-color: #538a65;
    }
  .display {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.display {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.desperdicio {
    border-radius: 15px;
    overflow: hidden; /* Asegura que el contenido dentro del borde redondeado no se salga */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra alrededor del gráfico */
    margin-left: 5%;
}
#columnchart_values, #timelinechart_div, #chart_div {
    width: 90%;
    height: auto; /* Puedes ajustar esta altura según sea necesario */
    margin-top: 3%;
}
@media (max-width: 768px) {
    #columnchart_values, #timelinechart_div, #chart_div {
        height: 300px; /* Altura ajustada para pantallas más pequeñas */
    }
}
input[type="date"] {
    border: none;
    outline: none;
}
label {
    font-size: 18px;
    margin-right: 10px;
}
/* Contenedor de la tabla */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    align-items: center;
}
/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre celdas */
    table-layout: auto; /* Ajusta el ancho de las columnas al contenido */
}
.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Línea inferior para separación */
}
/* Estilo para el contenedor principal */
.section-container {
    width: 100%;
    max-width: 1200px; /* Ajusta según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}
.chart-container {
    border-radius: 15px; /* Ajusta el radio del borde según tus preferencias */
    overflow: hidden; /* Oculta el contenido que sobresale del borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcional: agrega una sombra para mayor efecto */
}
.red-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(221, 52, 52);
    border-radius: 50%;
    margin-right: 10px;
}
.green-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-right: 10px;
}
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
#justificationsTable {
    width: 100%; /* Ajusta el ancho de la tabla según sea necesario */
    margin-left: 10%;
    margin-right: 10%;
}
/* Colores para los subítems de la Empacadora */
.empacadora-submenu-item {
    color: #000000; /* Color del texto */
}
.empacadora-submenu-item:hover {
    background-color: #0d91b9; /* Cambia el color al pasar el mouse */
    color: #ffffff;
}
/* Fondo azul para el submenú de alarmas */
#alarmas-submenu {
    background-color: #007bff; /* Azul */
    color: #ffffff; /* Texto blanco */
    border-radius: 10px; /* Bordes redondeados opcionales */
}
#alarmas-submenu .list-group-item:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}
/* Clase para la opción seleccionada */
.opcion-seleccionada {
    background-color: #ccffcc; /* Verde claro */
    font-weight: bold; /* Opcional: para resaltar el texto */
    color: #050808;
}
.modal {
    z-index: 1050; /* Asegúrate de que el modal esté por encima de otros elementos */
}
#resultado {
    font-size: 14px;
    margin-top: 10px;
    background-color: #020f35;
    padding: 10px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.card-flip {
    perspective: 1000px; /* Permite el 3D */
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden; /* Ocultar la cara posterior cuando no está visible */
}

.flip-card-back {
    transform: rotateY(180deg);
}

/* Efecto de vidrio */
.glass-effect {
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde de "vidrio" */
}

.card-title {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); /* Agrega sombra a los títulos */
}

.card-body {
    color: #fff;
}

#datepicker {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 10px; /* Espaciado interno */
    border: 2px solid #4a90e2; /* Borde azul */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    transition: border-color 0.3s; /* Transición suave para el borde */
}

#datepicker:focus {
    border-color: #007bff; /* Color del borde al hacer foco */
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al hacer foco */
}

#datepicker::placeholder {
    color: #999; /* Color del texto del placeholder */
    font-style: italic; /* Estilo en cursiva para el placeholder */
}




/* Estilo para la lista de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

/* Estilo para el botón desplegable */
.dropdown {
    position: relative;
}

/* Estilo para el enlace del dropdown */
.dropdown-btn {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Submenú oculto por defecto */
.submenu {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

/* Mostrar submenú cuando se pasa el mouse sobre el elemento */
.dropdown:hover .submenu {
    display: block;
}

/* Estilo para los elementos del submenú */
.submenu li {
    padding: 8px 0;
}

/* Estilo para los enlaces dentro del submenú */
.submenu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.submenu a:hover {
    text-decoration: underline;
}
